/* tailwind #36364D  https://htmlcolorcodes.com/color-picker/ */

:root {
  --primary-color: #2b6778;
  --transparent-primary-color: #2b677852;
  --primary-hover-color: #2b6778;

  --secondary-color: #1b394b;
  --secondary-hover-color: #1b394b;

  --tertiary-color: #87bfd4;
  --tertiary-hover-color: #ffffff;

  --footer-background-color: #000000;
  --footer-transparent-background-color: rgba(0, 0, 0, 0.3);

  --blur: 10px;
  --font-family: "Arial", "Helvetica", sans-serif;
}

html {
  margin: 0;
  padding: 10px;
  height: 100%;
  font-family: var(--font-family);
  font-size: medium;
  color: #000000;
  text-align: center;
  text-decoration: none;
  background-image: url("../Ressources/asupr2.jpg");
  background-size: cover;
  background-repeat: repeat;
  overscroll-behavior: none;
}

body{
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

header {
  width: 100%;
  height: clamp(64px, 10vh, 120px);
  display: grid;
  place-items: center;
  background-color: var(--transparent-primary-color);
}

.header-link {
  display: inline-block;
  font-size: clamp(40px, 4vw, 50px);
  color: #000000;
  text-align: center;
  text-decoration: none;
}

.profile-section{
  height: 500px;
  display: grid;
  grid-template-columns: auto 1fr 1fr 20vh;
  background-color: var(--transparent-primary-color);
}

.project-section{
  height: 800px;
  display: grid;
  grid-template-columns: 20vh auto 20vh;
  background-color: var(--transparent-primary-color);
}

footer {
  width: 100%;
  height: clamp(48px, 8vh, 80px);
  display: grid;
  place-items: center;
  background-color: var(--footer-transparent-background-color);
}
/* 
body {
  background-color: var(--primary-color);
  background-image: url("../Ressources/asupr2.jpg");
  background-size: cover;
  font-family: var(--font-family);
  color: var(--tertiary-color);
  font-size: 20px;
}

#body-container {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 2rem;
}

header {
  grid-row: 1;
  display: grid;
  place-items: center;
  background-color: var(--transparent-primary-color);
  backdrop-filter: blur(var(--blur));
  width: 100%;
  min-height: clamp(64px, 10vh, 120px);
  box-shadow: 0 0 15px 0 var(--secondary-hover-color);
  border-radius: 0 0 20px 20px;
  transition: ease 1s;
}

.header-link {
  color: var(--tertiary-color);
  text-decoration: none;
  font-size: clamp(32px, 4vw, 50px);
  transition: ease 0.5s;
}

.header-link:hover {
  color: var(--tertiary-hover-color);
}

.content-container {
  grid-row: 2;
  display: grid;
  grid-template-columns: minmax(0, 6fr) minmax(0, 20vh);
  gap: 2rem;
  margin: 0;
}

.main-section,
.sidebar-section{
  box-shadow: 0 0 15px 0 var(--secondary-hover-color);
  backdrop-filter: blur(var(--blur));
  padding: 1%;
}

.main-section
{
  height: 500px;
  background-color: var(--transparent-primary-color);
  border-radius: 0 16px 16px 0;
}

.project-section
{
  background-color: var(--footer-transparent-background-color);
  border-radius: 16px 0 0 16px;
}

footer {
  grid-row: 3;
  display: grid;
  place-items: center;
  width: 100%;
  min-height: clamp(48px, 8vh, 80px);
  box-shadow: 0 0 15px 0 var(--footer-transparent-background-color );
  background-color: var(--footer-transparent-background-color);
  backdrop-filter: blur(var(--blur));
  border-radius: 20px 20px 0 0;
  transition: ease 1.5s;
} */
